# Different Data Types in python

## Primitive

In [1]:
# integers
a= 4
b= -5
c= 51924361 # long no more used in python 3.x
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

In [2]:
# float data types
a=2.8
b=-3.9
c=-3.0
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'float'>

In [3]:
# complex data types
a=2+3j
b=-3.0+4J
c= 3.19j
d= -4-3j
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [4]:
#string data types
a="Hello"
b='How are you'

print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [5]:
#Boolean data types
a=False
b=True
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

## Non-primitive

In [6]:
# lists
a=[187,3,5,"john",2.7] # defining a list
print(type(a))
print(a)
print(a[3]) # accessing objects in lists
a[3]="smith" # mutating objects in lists
print(a)

<class 'list'>
[187, 3, 5, 'john', 2.7]
john
[187, 3, 5, 'smith', 2.7]

In [7]:
# Tuples
b=(1,3,"kiran", "hello",3) # definig tuples
print(type(b))
print(b)
print(b[2]) # accessing object in tuple
#b[3]="alex" # trying to mutate object in tuple which cannot be done
#print(b)

<class 'tuple'>
(1, 3, 'kiran', 'hello', 3)
kiran

In [9]:
#dictionary

dict1={"name":["jaya","aarya"], "place":["bangalore"],"number":[950519,123456]} # difining dictionary
#print(dict1) 
print(dict1["place"]) #accessing key-value pairs
#dict1["place"]="andhra" # mutating values in dictionary
#print(dict1)

['bangalore']

In [10]:
dict1["name"][0]="maya"

In [11]:
print(dict1)

{'name': ['maya', 'aarya'], 'place': ['bangalore'], 'number': [950519, 123456]}

In [12]:
# sets
set1={"jayanth", 2.5, 2}
print(type(set1))
print(set1)

<class 'set'>
{2.5, 2, 'jayanth'}

# Implicit data type conversions

In [1]:
a=3 #here a is integer
b=5.23 # b is float type
c=a+b

In [2]:
c

8.23

In [3]:
type(a)# here internally a is converted to float.
       # this is called implicit data type conversion

int

# Explicit data type conversions

In [4]:
a=45
b=89
c=a+b
# converting manually c(int) to string and storing in e
#print("The total amount is "+d+"$")

In [8]:
type(c)

int

In [9]:
e=str(c)

In [10]:
type(e)

str