In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("sales_data.csv") #reading data
data.head(7) # viewing first 7 data points

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528

In [3]:
data.shape # seeing number of rows and columns

(8523, 12)

In [4]:
data.info() # viewing information of dataset and variables

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier              8523 non-null object
Item_Weight                  7060 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.1+ KB

In [5]:
x=data.drop(["Item_MRP"],axis=1) # dropping a column/variable from dataset
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 11 columns):
Item_Identifier              8523 non-null object
Item_Weight                  7060 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(3), int64(1), object(7)
memory usage: 732.5+ KB

# Selecting

In [6]:
 data["Item_MRP"] #selecting columns

0       249.8092
1        48.2692
2       141.6180
3       182.0950
4        53.8614
5        51.4008
6        57.6588
7       107.7622
8        96.9726
9       187.8214
10       45.5402
11      144.1102
12      145.4786
13      119.6782
14      196.4426
15       56.3614
16      115.3492
17       54.3614
18      113.2834
19      230.5352
20      250.8724
21      144.5444
22      196.5084
23      107.6938
24      165.0210
25       45.9060
26       42.3112
27       39.1164
28       45.5086
29       43.6454
          ...
8493    189.1872
8494    110.4912
8495    160.4920
8496    185.3582
8497    150.0050
8498    124.5730
8499    100.0042
8500    125.1678
8501    100.4358
8502    216.4192
8503    120.1756
8504    111.7544
8505    210.8244
8506    263.1910
8507    101.7990
8508    199.4742
8509    213.9902
8510    231.5984
8511    262.5910
8512    178.3028
8513     99.9042
8514     57.5904
8515    157.5288
8516     58.7588
8517    178.8318
8518    214.5218
8519    108.1570
8520     85.1224
8521    103.1332
8522     75.4670
Name: Item_MRP, Length: 8523, dtype: float64

In [7]:
data[["Item_MRP","Item_Type"]]# selecting multiple columns

      Item_MRP              Item_Type
0     249.8092                  Dairy
1      48.2692            Soft Drinks
2     141.6180                   Meat
3     182.0950  Fruits and Vegetables
4      53.8614              Household
5      51.4008           Baking Goods
6      57.6588            Snack Foods
7     107.7622            Snack Foods
8      96.9726           Frozen Foods
9     187.8214           Frozen Foods
10     45.5402  Fruits and Vegetables
11    144.1102                  Dairy
12    145.4786  Fruits and Vegetables
13    119.6782            Snack Foods
14    196.4426  Fruits and Vegetables
15     56.3614              Breakfast
16    115.3492     Health and Hygiene
17     54.3614              Breakfast
18    113.2834            Hard Drinks
19    230.5352                  Dairy
20    250.8724            Snack Foods
21    144.5444           Baking Goods
22    196.5084              Household
23    107.6938           Baking Goods
24    165.0210           Frozen Foods
25     45.9060              Household
26     42.3112            Snack Foods
27     39.1164            Hard Drinks
28     45.5086                  Dairy
29     43.6454                 Canned
...        ...                    ...
8493  189.1872            Snack Foods
8494  110.4912              Household
8495  160.4920            Snack Foods
8496  185.3582                Seafood
8497  150.0050  Fruits and Vegetables
8498  124.5730              Household
8499  100.0042     Health and Hygiene
8500  125.1678              Household
8501  100.4358            Snack Foods
8502  216.4192              Household
8503  120.1756  Fruits and Vegetables
8504  111.7544              Household
8505  210.8244            Snack Foods
8506  263.1910            Soft Drinks
8507  101.7990           Frozen Foods
8508  199.4742  Fruits and Vegetables
8509  213.9902  Fruits and Vegetables
8510  231.5984            Snack Foods
8511  262.5910           Frozen Foods
8512  178.3028                  Dairy
8513   99.9042                   Meat
8514   57.5904                 Canned
8515  157.5288           Baking Goods
8516   58.7588                 Others
8517  178.8318           Frozen Foods
8518  214.5218            Snack Foods
8519  108.1570           Baking Goods
8520   85.1224     Health and Hygiene
8521  103.1332            Snack Foods
8522   75.4670            Soft Drinks

[8523 rows x 2 columns]

In [8]:
data.iloc[0:10] # selecting 1st 10 Rows

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

In [9]:
data.iloc[0:10,2:5]# selecting 1-10 rows and 3rd-5th column

  Item_Fat_Content  Item_Visibility              Item_Type
0          Low Fat         0.016047                  Dairy
1          Regular         0.019278            Soft Drinks
2          Low Fat         0.016760                   Meat
3          Regular         0.000000  Fruits and Vegetables
4          Low Fat         0.000000              Household
5          Regular         0.000000           Baking Goods
6          Regular         0.012741            Snack Foods
7          Low Fat         0.127470            Snack Foods
8          Regular         0.016687           Frozen Foods
9          Regular         0.094450           Frozen Foods

In [10]:
data.loc[1:15,["Item_MRP","Item_Weight"]] # selecting certain rows with certain columns

    Item_MRP  Item_Weight
1    48.2692        5.920
2   141.6180       17.500
3   182.0950       19.200
4    53.8614        8.930
5    51.4008       10.395
6    57.6588       13.650
7   107.7622          NaN
8    96.9726       16.200
9   187.8214       19.200
10   45.5402       11.800
11  144.1102       18.500
12  145.4786       15.100
13  119.6782       17.600
14  196.4426       16.350
15   56.3614        9.000

## Filtering

In [11]:
data[data["Item_Type"]=="Dairy"] # selecting data if Item_Type is Dairy

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,1998,NaN,Tier 3,Grocery Store,163.7868
40,FDU02,13.350,Low Fat,0.102512,Dairy,230.6352,OUT046,1997,Small,Tier 1,Supermarket Type1,3435.5280
45,FDM39,6.420,LF,0.089499,Dairy,178.1002,OUT010,1998,NaN,Tier 3,Grocery Store,358.2004
49,FDS02,NaN,Regular,0.255395,Dairy,196.8794,OUT019,1985,Small,Tier 1,Grocery Store,780.3176
67,FDZ03,13.650,Regular,0.078946,Dairy,186.0240,OUT045,2002,NaN,Tier 2,Supermarket Type1,1118.5440
91,DRG27,8.895,Low Fat,0.105274,Dairy,39.9138,OUT049,1999,Medium,Tier 1,Supermarket Type1,690.4346
110,FDD03,13.300,Low Fat,0.079806,Dairy,232.5300,OUT046,1997,Small,Tier 1,Supermarket Type1,699.0900
127,FDV38,19.250,Low Fat,0.102350,Dairy,52.7956,OUT017,2007,NaN,Tier 2,Supermarket Type1,928.1252
137,FDB51,6.920,Low Fat,0.038532,Dairy,60.5852,OUT045,2002,NaN,Tier 2,Supermarket Type1,1314.2892
183,FDU50,5.750,Regular,0.075108,Dairy,112.8176,OUT013,1987,High,Tier 3,Supermarket Type1,1374.2112
198,FDE40,NaN,Regular,0.098664,Dairy,62.9194,OUT027,1985,Medium,Tier 3,Supermarket Type3,2105.2596
211,DRC27,13.800,Low Fat,0.058091,Dairy,245.1802,OUT035,2004,Small,Tier 2,Supermarket Type1,5650.6446
227,DRF27,NaN,Low Fat,0.049755,Dairy,152.1340,OUT019,1985,Small,Tier 1,Grocery Store,153.1340
244,DRJ51,14.100,Low Fat,0.087977,Dairy,229.0668,OUT035,2004,Small,Tier 2,Supermarket Type1,3225.1352
250,DRF15,NaN,Low Fat,0.058153,Dairy,152.0340,OUT019,1985,Small,Tier 1,Grocery Store,306.2680
263,FDY38,13.600,Regular,0.119418,Dairy,231.0300,OUT045,2002,NaN,Tier 2,Supermarket Type1,5359.6900
271,FDS26,20.350,Low Fat,0.089395,Dairy,260.1594,OUT013,1987,High,Tier 3,Supermarket Type1,2093.2752
273,FDK51,19.850,Low Fat,0.005234,Dairy,264.0884,OUT035,2004,Small,Tier 2,Supermarket Type1,5829.7448
293,FDH27,7.075,Low Fat,0.058585,Dairy,142.7128,OUT018,2009,Medium,Tier 3,Supermarket Type2,1869.5664
310,FDD40,20.250,Regular,0.014791,Dairy,193.6162,OUT035,2004,Small,Tier 2,Supermarket Type1,3848.3240
323,FDC52,11.150,Regular,0.008327,Dairy,149.9708,OUT017,2007,NaN,Tier 2,Supermarket Type1,1956.1204
330,DRH39,20.700,Low Fat,0.092613,Dairy,76.3670,OUT013,1987,High,Tier 3,Supermarket Type1,306.2680
356,FDH27,7.075,Low Fat,0.058347,Dairy,142.2128,OUT046,1997,Small,Tier 1,Supermarket Type1,3163.8816
364,FDX26,NaN,Low Fat,0.153741,Dairy,182.6292,OUT019,1985,Small,Tier 1,Grocery Store,182.4292
368,FDL51,20.700,Regular,0.047685,Dairy,212.5876,OUT018,2009,Medium,Tier 3,Supermarket Type2,1286.3256
376,FDB27,7.575,Low Fat,0.055390,Dairy,195.2768,OUT046,1997,Small,Tier 1,Supermarket Type1,5715.2272
...,...,...,...,...,...,...,...,...,...,...,...,...
8058,FDW26,11.800,Regular,0.179192,Dairy,224.2772,OUT010,1998,NaN,Tier 3,Grocery Store,667.1316
8060,FDH27,NaN,Low Fat,0.102158,Dairy,145.0128,OUT019,1985,Small,Tier 1,Grocery Store,143.8128
8074,FDC04,15.600,Low Fat,0.045056,Dairy,242.3854,OUT049,1999,Medium,Tier 1,Supermarket Type1,2416.8540
8076,DRG03,14.500,Low Fat,0.062239,Dairy,154.2998,OUT018,2009,Medium,Tier 3,Supermarket Type2,1691.7978
8088,FDY15,18.250,Regular,0.171524,Dairy,155.8630,OUT018,2009,Medium,Tier 3,Supermarket Type2,2346.9450
8093,FDP26,7.785,Low Fat,0.140121,Dairy,102.5306,OUT018,2009,Medium,Tier 3,Supermarket Type2,1358.8978
8103,FDT02,12.600,LF,0.024293,Dairy,33.4874,OUT018,2009,Medium,Tier 3,Supermarket Type2,105.8622
8110,FDJ03,12.350,Regular,0.121174,Dairy,47.8692,OUT010,1998,NaN,Tier 3,Grocery Store,49.2692
8134,FDW38,5.325,Regular,0.139464,Dairy,53.2298,OUT017,2007,NaN,Tier 2,Supermarket Type1,1240.3854
8159,FDC15,18.100,Low Fat,0.178694,Dairy,158.9288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1571.2880
8165,FDD39,NaN,Low Fat,0.069815,Dairy,214.3850,OUT027,1985,Medium,Tier 3,Supermarket Type3,4327.7000
8168,FDV38,19.250,Low Fat,0.101932,Dairy,54.5956,OUT049,1999,Medium,Tier 1,Supermarket Type1,764.3384
8170,FDJ15,11.350,Regular,0.023454,Dairy,181.9608,OUT017,2007,NaN,Tier 2,Supermarket Type1,1653.8472
8182,DRF27,8.930,Low Fat,0.028533,Dairy,151.4340,OUT018,2009,Medium,Tier 3,Supermarket Type2,1225.0720
8184,FDF40,20.250,Regular,0.022508,Dairy,248.1092,OUT035,2004,Small,Tier 2,Supermarket Type1,4731.1748
8189,FDC16,11.500,Regular,0.020612,Dairy,84.9540,OUT045,2002,NaN,Tier 2,Supermarket Type1,865.5400
8194,FDY15,NaN,Regular,0.299098,Dairy,157.8630,OUT019,1985,Small,Tier 1,Grocery Store,469.3890
8211,FDZ15,13.100,Low Fat,0.000000,Dairy,117.8782,OUT035,2004,Small,Tier 2,Supermarket Type1,2741.0986
8254,FDD04,16.000,Low Fat,0.089896,Dairy,143.4154,OUT013,1987,High,Tier 3,Supermarket Type1,1985.4156
8266,FDR14,11.650,Low Fat,0.173904,Dairy,52.3298,OUT013,1987,High,Tier 3,Supermarket Type1,269.6490
8280,FDB03,17.750,Regular,0.157471,Dairy,239.1538,OUT018,2009,Medium,Tier 3,Supermarket Type2,4326.3684
8306,FDV50,14.300,Low Fat,0.122762,Dairy,124.3730,OUT049,1999,Medium,Tier 1,Supermarket Type1,2093.9410
8330,FDB16,8.210,Low Fat,0.044888,Dairy,87.3198,OUT013,1987,High,Tier 3,Supermarket Type1,610.5386
8386,FDB51,6.920,Low Fat,0.038454,Dairy,61.5852,OUT046,1997,Small,Tier 1,Supermarket Type1,813.6076
8404,DRH39,NaN,low fat,0.000000,Dairy,75.9670,OUT019,1985,Small,Tier 1,Grocery Store,153.1340
8424,FDC39,7.405,Low Fat,0.159165,Dairy,207.1296,OUT035,2004,Small,Tier 2,Supermarket Type1,3739.1328
8447,FDS26,20.350,Low Fat,0.089975,Dairy,261.6594,OUT017,2007,NaN,Tier 2,Supermarket Type1,7588.1226
8448,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,2009,Medium,Tier 3,Supermarket Type2,2093.9410
8457,FDY50,5.800,Low Fat,0.130931,Dairy,89.9172,OUT035,2004,Small,Tier 2,Supermarket Type1,1516.6924
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392

In [12]:
data[(data.Item_Type=="Dairy") | (data.Item_MRP > 260)] # selecting data if Item_Type is Dairy and Item_MRP is greater than 260

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,1998,NaN,Tier 3,Grocery Store,163.7868
40,FDU02,13.350,Low Fat,0.102512,Dairy,230.6352,OUT046,1997,Small,Tier 1,Supermarket Type1,3435.5280
45,FDM39,6.420,LF,0.089499,Dairy,178.1002,OUT010,1998,NaN,Tier 3,Grocery Store,358.2004
47,FDV49,10.000,Low Fat,0.025880,Canned,265.2226,OUT045,2002,NaN,Tier 2,Supermarket Type1,5815.0972
49,FDS02,NaN,Regular,0.255395,Dairy,196.8794,OUT019,1985,Small,Tier 1,Grocery Store,780.3176
67,FDZ03,13.650,Regular,0.078946,Dairy,186.0240,OUT045,2002,NaN,Tier 2,Supermarket Type1,1118.5440
91,DRG27,8.895,Low Fat,0.105274,Dairy,39.9138,OUT049,1999,Medium,Tier 1,Supermarket Type1,690.4346
110,FDD03,13.300,Low Fat,0.079806,Dairy,232.5300,OUT046,1997,Small,Tier 1,Supermarket Type1,699.0900
127,FDV38,19.250,Low Fat,0.102350,Dairy,52.7956,OUT017,2007,NaN,Tier 2,Supermarket Type1,928.1252
137,FDB51,6.920,Low Fat,0.038532,Dairy,60.5852,OUT045,2002,NaN,Tier 2,Supermarket Type1,1314.2892
183,FDU50,5.750,Regular,0.075108,Dairy,112.8176,OUT013,1987,High,Tier 3,Supermarket Type1,1374.2112
191,FDL58,5.780,Regular,0.074264,Snack Foods,264.7568,OUT049,1999,Medium,Tier 1,Supermarket Type1,4745.8224
198,FDE40,NaN,Regular,0.098664,Dairy,62.9194,OUT027,1985,Medium,Tier 3,Supermarket Type3,2105.2596
211,DRC27,13.800,Low Fat,0.058091,Dairy,245.1802,OUT035,2004,Small,Tier 2,Supermarket Type1,5650.6446
212,FDL58,5.780,Regular,0.000000,Snack Foods,263.7568,OUT017,2007,NaN,Tier 2,Supermarket Type1,2636.5680
217,FDP28,13.650,Regular,0.134976,Frozen Foods,260.0936,OUT010,1998,NaN,Tier 3,Grocery Store,260.9936
227,DRF27,NaN,Low Fat,0.049755,Dairy,152.1340,OUT019,1985,Small,Tier 1,Grocery Store,153.1340
244,DRJ51,14.100,Low Fat,0.087977,Dairy,229.0668,OUT035,2004,Small,Tier 2,Supermarket Type1,3225.1352
249,FDF05,17.500,Low Fat,0.027023,Frozen Foods,262.4910,OUT017,2007,NaN,Tier 2,Supermarket Type1,5259.8200
250,DRF15,NaN,Low Fat,0.058153,Dairy,152.0340,OUT019,1985,Small,Tier 1,Grocery Store,306.2680
263,FDY38,13.600,Regular,0.119418,Dairy,231.0300,OUT045,2002,NaN,Tier 2,Supermarket Type1,5359.6900
271,FDS26,20.350,Low Fat,0.089395,Dairy,260.1594,OUT013,1987,High,Tier 3,Supermarket Type1,2093.2752
273,FDK51,19.850,Low Fat,0.005234,Dairy,264.0884,OUT035,2004,Small,Tier 2,Supermarket Type1,5829.7448
293,FDH27,7.075,Low Fat,0.058585,Dairy,142.7128,OUT018,2009,Medium,Tier 3,Supermarket Type2,1869.5664
310,FDD40,20.250,Regular,0.014791,Dairy,193.6162,OUT035,2004,Small,Tier 2,Supermarket Type1,3848.3240
323,FDC52,11.150,Regular,0.008327,Dairy,149.9708,OUT017,2007,NaN,Tier 2,Supermarket Type1,1956.1204
...,...,...,...,...,...,...,...,...,...,...,...,...
8144,FDJ41,6.850,Low Fat,0.023013,Frozen Foods,262.0594,OUT017,2007,NaN,Tier 2,Supermarket Type1,1569.9564
8159,FDC15,18.100,Low Fat,0.178694,Dairy,158.9288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1571.2880
8165,FDD39,NaN,Low Fat,0.069815,Dairy,214.3850,OUT027,1985,Medium,Tier 3,Supermarket Type3,4327.7000
8168,FDV38,19.250,Low Fat,0.101932,Dairy,54.5956,OUT049,1999,Medium,Tier 1,Supermarket Type1,764.3384
8170,FDJ15,11.350,Regular,0.023454,Dairy,181.9608,OUT017,2007,NaN,Tier 2,Supermarket Type1,1653.8472
8182,DRF27,8.930,Low Fat,0.028533,Dairy,151.4340,OUT018,2009,Medium,Tier 3,Supermarket Type2,1225.0720
8184,FDF40,20.250,Regular,0.022508,Dairy,248.1092,OUT035,2004,Small,Tier 2,Supermarket Type1,4731.1748
8189,FDC16,11.500,Regular,0.020612,Dairy,84.9540,OUT045,2002,NaN,Tier 2,Supermarket Type1,865.5400
8194,FDY15,NaN,Regular,0.299098,Dairy,157.8630,OUT019,1985,Small,Tier 1,Grocery Store,469.3890
8198,FDR59,NaN,Regular,0.063554,Breads,263.6594,OUT027,1985,Medium,Tier 3,Supermarket Type3,3401.5722
8211,FDZ15,13.100,Low Fat,0.000000,Dairy,117.8782,OUT035,2004,Small,Tier 2,Supermarket Type1,2741.0986
8244,NCM05,6.825,Low Fat,0.059940,Health and Hygiene,262.4226,OUT049,1999,Medium,Tier 1,Supermarket Type1,3964.8390
8245,FDU55,16.200,Low Fat,0.035967,Fruits and Vegetables,260.3278,OUT049,1999,Medium,Tier 1,Supermarket Type1,7549.5062
8254,FDD04,16.000,Low Fat,0.089896,Dairy,143.4154,OUT013,1987,High,Tier 3,Supermarket Type1,1985.4156
8266,FDR14,11.650,Low Fat,0.173904,Dairy,52.3298,OUT013,1987,High,Tier 3,Supermarket Type1,269.6490
8280,FDB03,17.750,Regular,0.157471,Dairy,239.1538,OUT018,2009,Medium,Tier 3,Supermarket Type2,4326.3684
8281,FDO09,13.500,Regular,0.125275,Snack Foods,262.1910,OUT046,1997,Small,Tier 1,Supermarket Type1,2366.9190
8306,FDV50,14.300,Low Fat,0.122762,Dairy,124.3730,OUT049,1999,Medium,Tier 1,Supermarket Type1,2093.9410
8330,FDB16,8.210,Low Fat,0.044888,Dairy,87.3198,OUT013,1987,High,Tier 3,Supermarket Type1,610.5386
8375,NCM05,NaN,Low Fat,0.104784,Health and Hygiene,266.0226,OUT019,1985,Small,Tier 1,Grocery Store,528.6452
8386,FDB51,6.920,Low Fat,0.038454,Dairy,61.5852,OUT046,1997,Small,Tier 1,Supermarket Type1,813.6076
8404,DRH39,NaN,low fat,0.000000,Dairy,75.9670,OUT019,1985,Small,Tier 1,Grocery Store,153.1340
8410,NCS06,7.935,Low Fat,0.000000,Household,263.6910,OUT046,1997,Small,Tier 1,Supermarket Type1,788.9730
8424,FDC39,7.405,Low Fat,0.159165,Dairy,207.1296,OUT035,2004,Small,Tier 2,Supermarket Type1,3739.1328
8447,FDS26,20.350,Low Fat,0.089975,Dairy,261.6594,OUT017,2007,NaN,Tier 2,Supermarket Type1,7588.1226
8448,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,2009,Medium,Tier 3,Supermarket Type2,2093.9410
8457,FDY50,5.800,Low Fat,0.130931,Dairy,89.9172,OUT035,2004,Small,Tier 2,Supermarket Type1,1516.6924
8506,DRF37,17.250,Low Fat,0.084676,Soft Drinks,263.1910,OUT018,2009,Medium,Tier 3,Supermarket Type2,3944.8650
8511,FDF05,17.500,Low Fat,0.026980,Frozen Foods,262.5910,OUT018,2009,Medium,Tier 3,Supermarket Type2,4207.8560
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392

# Sorting

In [19]:
#### Sorting data based on MRP
SOR=data.sort_values('Item_MRP')
SOR.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
153,DRK12,NaN,Low Fat,0.041683,Soft Drinks,31.2900,OUT027,1985,Medium,Tier 3,Supermarket Type3,898.8300
6958,DRK12,9.500,Low Fat,0.041851,Soft Drinks,31.4900,OUT013,1987,High,Tier 3,Supermarket Type1,466.0600
2135,DRK12,9.500,Low Fat,0.042057,Soft Drinks,31.8900,OUT018,2009,Medium,Tier 3,Supermarket Type2,366.1900
2011,FDX59,10.195,Low Fat,0.051618,Breads,31.9558,OUT013,1987,High,Tier 3,Supermarket Type1,373.5138
2242,FDG40,NaN,Low Fat,0.039631,Frozen Foods,31.9558,OUT027,1985,Medium,Tier 3,Supermarket Type3,984.7182

In [16]:
#### Sorting data based on MRP in descending order
SOR1=data.sort_values('Item_MRP',ascending=False)
SOR1.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4802,FDS13,6.465,Low Fat,0.125210,Canned,266.8884,OUT017,2007,NaN,Tier 2,Supermarket Type1,1059.9536
5884,FDR25,17.000,Regular,0.139522,Canned,266.8884,OUT046,1997,Small,Tier 1,Supermarket Type1,5034.7796
4159,FDK51,19.850,Low Fat,0.008763,Dairy,266.6884,OUT010,1998,NaN,Tier 3,Grocery Store,264.9884
5254,NCS29,9.000,Low Fat,0.069488,Health and Hygiene,266.6884,OUT013,1987,High,Tier 3,Supermarket Type1,3974.8260
4538,FDS13,NaN,Low Fat,0.217994,Canned,266.5884,OUT019,1985,Small,Tier 1,Grocery Store,1324.9420

In [97]:
#### Sorting data based on MRP in descending order and then Item_Weight in ascending order
SOR2=data.sort_values(['Item_MRP',"Item_Weight"],ascending=[False,True])
SOR2.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4802,FDS13,6.465,Low Fat,0.125210,Canned,266.8884,OUT017,2007,NaN,Tier 2,Supermarket Type1,1059.9536
5884,FDR25,17.000,Regular,0.139522,Canned,266.8884,OUT046,1997,Small,Tier 1,Supermarket Type1,5034.7796
5254,NCS29,9.000,Low Fat,0.069488,Health and Hygiene,266.6884,OUT013,1987,High,Tier 3,Supermarket Type1,3974.8260
4159,FDK51,19.850,Low Fat,0.008763,Dairy,266.6884,OUT010,1998,NaN,Tier 3,Grocery Store,264.9884
5558,NCS29,9.000,Low Fat,0.069532,Health and Hygiene,266.5884,OUT035,2004,Small,Tier 2,Supermarket Type1,6624.7100
4538,FDS13,NaN,Low Fat,0.217994,Canned,266.5884,OUT019,1985,Small,Tier 1,Grocery Store,1324.9420
4877,NCS29,9.000,Low Fat,0.069654,Health and Hygiene,266.2884,OUT049,1999,Medium,Tier 1,Supermarket Type1,2914.8724
3714,FDS13,6.465,Low Fat,0.124403,Canned,266.1884,OUT013,1987,High,Tier 3,Supermarket Type1,5299.7680
3416,FDK51,19.850,Low Fat,0.005243,Dairy,266.1884,OUT049,1999,Medium,Tier 1,Supermarket Type1,3179.8608
8375,NCM05,NaN,Low Fat,0.104784,Health and Hygiene,266.0226,OUT019,1985,Small,Tier 1,Grocery Store,528.6452

In [22]:
#### Sorting data based on Item_Type in ascending order and then Item_Visibility in descending order
SOR3=data.sort_values(['Item_Type','Item_Visibility'],ascending=[True,False])
SOR3.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7250,FDT24,12.35,Regular,0.311090,Baking Goods,79.2328,OUT010,1998,NaN,Tier 3,Grocery Store,154.4656
3474,FDS12,NaN,LF,0.304859,Baking Goods,125.4362,OUT019,1985,Small,Tier 1,Grocery Store,755.0172
5287,FDO24,11.10,Low Fat,0.294949,Baking Goods,159.0604,OUT010,1998,NaN,Tier 3,Grocery Store,792.3020
6674,FDS12,9.10,Low Fat,0.291439,Baking Goods,126.8362,OUT010,1998,NaN,Tier 3,Grocery Store,125.8362
5795,FDU24,NaN,Regular,0.245407,Baking Goods,92.8120,OUT019,1985,Small,Tier 1,Grocery Store,93.2120
2088,FDY12,9.80,Regular,0.235354,Baking Goods,50.8008,OUT010,1998,NaN,Tier 3,Grocery Store,101.2016
7744,FDX36,NaN,Regular,0.224607,Baking Goods,223.1404,OUT019,1985,Small,Tier 1,Grocery Store,450.0808
1291,FDY24,4.88,Regular,0.223440,Baking Goods,52.2298,OUT010,1998,NaN,Tier 3,Grocery Store,161.7894
4987,FDR48,11.65,Low Fat,0.220111,Baking Goods,153.0024,OUT010,1998,NaN,Tier 3,Grocery Store,455.4072
5154,FDJ36,14.50,Regular,0.214681,Baking Goods,102.7332,OUT010,1998,NaN,Tier 3,Grocery Store,205.0664

# Grouping

In [13]:
## Grouping Item_Type based on mean of Item_MRP and Item_Weight
data.groupby("Item_Type")["Item_MRP","Item_Weight"].mean()

                         Item_MRP  Item_Weight
Item_Type
Baking Goods           126.380766    12.277108
Breads                 140.952669    11.346936
Breakfast              141.788151    12.768202
Canned                 139.763832    12.305705
Dairy                  148.499208    13.426069
Frozen Foods           138.503366    12.867061
Fruits and Vegetables  144.581235    13.224769
Hard Drinks            137.077928    11.400328
Health and Hygiene     130.818921    13.142314
Household              149.424753    13.384736
Meat                   139.882032    12.817344
Others                 132.851430    13.853285
Seafood                141.841719    12.552843
Snack Foods            146.194934    12.987880
Soft Drinks            131.492506    11.847460
Starchy Foods          147.838023    13.690731

In [24]:
## Grouping Item_Type based on sum of Item_MRP and mean of Item_Weight
data.groupby("Item_Type").agg({"Item_MRP":np.sum,"Item_Weight":np.mean})

                          Item_MRP  Item_Weight
Item_Type
Baking Goods            81894.7364    12.277108
Breads                  35379.1198    11.346936
Breakfast               15596.6966    12.768202
Canned                  90706.7270    12.305705
Dairy                  101276.4596    13.426069
Frozen Foods           118558.8814    12.867061
Fruits and Vegetables  178124.0810    13.224769
Hard Drinks             29334.6766    11.400328
Health and Hygiene      68025.8388    13.142314
Household              135976.5254    13.384736
Meat                    59449.8638    12.817344
Others                  22451.8916    13.853285
Seafood                  9077.8700    12.552843
Snack Foods            175433.9204    12.987880
Soft Drinks             58514.1650    11.847460
Starchy Foods           21880.0274    13.690731

## Joining dataframe

In [17]:
datar1=data.iloc[0:5000,:]
datar2=data.iloc[5000:,:]
datac1=data.iloc[:,0:7]
datac2=data.iloc[:,7:]

In [18]:
print(datar1.shape)
print(datar2.shape)
print(datac1.shape)
print(datac2.shape)

(5000, 12)
(3523, 12)
(8523, 7)
(8523, 5)

In [19]:
print(pd.concat([datar1,datar2],axis=0).shape)#conacating rows
print(pd.concat([datac1,datac2],axis=1).shape)#concating columns

(8523, 12)
(8523, 12)

# Merging dataframes using Joins

In [14]:
data1=pd.DataFrame({"id":[0,1,2,3,4,5,6,7,8,9],"product":["soap","ball",
                    "napkin","notebook","toy","flag","pen","remote-car","brush","watch"]})
data1

   id     product
0   0        soap
1   1        ball
2   2      napkin
3   3    notebook
4   4         toy
5   5        flag
6   6         pen
7   7  remote-car
8   8       brush
9   9       watch

In [15]:
data2=pd.DataFrame({"id":[2,4,6,9,10],"price":[100,370,35,550,165]})
data2

   id  price
0   2    100
1   4    370
2   6     35
3   9    550
4  10    165

In [18]:
merg_data_in=pd.merge(data1,data2,how="inner",on="id")#inner merge

In [19]:
merg_data_in

   id product  price
0   2  napkin    100
1   4     toy    370
2   6     pen     35
3   9   watch    550

In [22]:

merg_data_out=pd.merge(data1,data2,how="outer",on="id")#outer merge

In [23]:
merg_data_out

    id     product  price
0    0        soap    NaN
1    1        ball    NaN
2    2      napkin  100.0
3    3    notebook    NaN
4    4         toy  370.0
5    5        flag    NaN
6    6         pen   35.0
7    7  remote-car    NaN
8    8       brush    NaN
9    9       watch  550.0
10  10         NaN  165.0

In [24]:
merg_data_left=pd.merge(data1,data2,how="left",on="id")#left merge

In [25]:
merg_data_left

   id     product  price
0   0        soap    NaN
1   1        ball    NaN
2   2      napkin  100.0
3   3    notebook    NaN
4   4         toy  370.0
5   5        flag    NaN
6   6         pen   35.0
7   7  remote-car    NaN
8   8       brush    NaN
9   9       watch  550.0

In [26]:
merg_data_right=pd.merge(data1,data2,how="right",on="id")#right merge

In [27]:
merg_data_right

   id product  price
0   2  napkin    100
1   4     toy    370
2   6     pen     35
3   9   watch    550
4  10     NaN    165