In [1]:
import os
os.listdir()

['.git',
 '.idea',
 '.ipynb_checkpoints',
 'assignment3.ipynb',
 'cars_sampled.csv',
 'case_study1.py',
 'case_study_week4.py',
 'CrashTest_TestData.csv',
 'CrashTest_TrainData.csv',
 'Data Description-Tips Data.pdf',
 'income.csv',
 'Iris_data_sample.csv',
 'Iris_data_sample.txt',
 'Iris_data_sample.xlsx',
 'Lec1_Reading_data.pdf',
 'Lec2_PandasDataframes_1.pdf',
 'Lec3_PandasDataframes_2.pdf',
 'Lec4_PandasDataframes_3.pdf',
 'Lec5_ControlStructures_Functions.pdf',
 'Lec6_Exploratory_Data_Analysis.pdf',
 'Lec7_Data_Visualization_1.pdf',
 'Lec8_Data_Visualization_2.pdf',
 'Lec9_Dealing_with_missing_values.pdf',
 'Local Disk (C) - Shortcut.lnk',
 'Screenshot (10).png',
 'Screenshot (11).png',
 'Screenshot (12).png',
 'Screenshot (13).png',
 'Screenshot (14).png',
 'Screenshot (15).png',
 'Screenshot (8).png',
 'Screenshot (9).png',
 'temp.csv',
 'Tips.csv',
 'Tips1.xlsx',
 'Toyota.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Week2.ipynb']

In [2]:
import pandas as pd
import numpy as np

import seaborn as sns

In [3]:
data=pd.read_csv('temp.csv')

In [4]:
data.isnull().sum()

Variance         0
Unnamed: 1    1372
Unnamed: 2    1372
Unnamed: 3    1372
Class            0
dtype: int64

In [5]:
correlation=data.corr()

In [6]:
correlation

            Variance  Unnamed: 1  Unnamed: 2  Unnamed: 3     Class
Variance    1.000000         NaN         NaN         NaN -0.411397
Unnamed: 1       NaN         NaN         NaN         NaN       NaN
Unnamed: 2       NaN         NaN         NaN         NaN       NaN
Unnamed: 3       NaN         NaN         NaN         NaN       NaN
Class      -0.411397         NaN         NaN         NaN  1.000000

In [7]:
data

      Variance  Unnamed: 1  Unnamed: 2  Unnamed: 3  Class
0     36.21600         NaN         NaN         NaN      0
1     65.54590         NaN         NaN         NaN      0
2     73.86600         NaN         NaN         NaN      0
3      3.45660         NaN         NaN         NaN      0
4      0.32924         NaN         NaN         NaN      0
...        ...         ...         ...         ...    ...
1367   0.40614         NaN         NaN         NaN      1
1368  -1.38870         NaN         NaN         NaN      1
1369  -3.75030         NaN         NaN         NaN      1
1370  -3.56370         NaN         NaN         NaN      1
1371  -2.54190         NaN         NaN         NaN      1

[1372 rows x 5 columns]

In [8]:
data=pd.read_csv('temp.csv',index_col=0)

In [9]:
data

           Unnamed: 1  Unnamed: 2  Unnamed: 3  Class
Variance
 36.21600         NaN         NaN         NaN      0
 65.54590         NaN         NaN         NaN      0
 73.86600         NaN         NaN         NaN      0
 3.45660          NaN         NaN         NaN      0
 0.32924          NaN         NaN         NaN      0
...               ...         ...         ...    ...
 0.40614          NaN         NaN         NaN      1
-1.38870          NaN         NaN         NaN      1
-3.75030          NaN         NaN         NaN      1
-3.56370          NaN         NaN         NaN      1
-2.54190          NaN         NaN         NaN      1

[1372 rows x 4 columns]

In [17]:
data.drop(axis=1,columns=2)

KeyError: '[2] not found in axis'

In [29]:
data=pd.read_csv('temp.csv')

In [30]:
data

      Variance   A   B   C  Class
0     36.21600 NaN NaN NaN      0
1     65.54590 NaN NaN NaN      0
2     73.86600 NaN NaN NaN      0
3      3.45660 NaN NaN NaN      0
4      0.32924 NaN NaN NaN      0
...        ...  ..  ..  ..    ...
1367   0.40614 NaN NaN NaN      1
1368  -1.38870 NaN NaN NaN      1
1369  -3.75030 NaN NaN NaN      1
1370  -3.56370 NaN NaN NaN      1
1371  -2.54190 NaN NaN NaN      1

[1372 rows x 5 columns]

In [31]:
data2=data.drop(columns=['A','B','C'])
data2

      Variance  Class
0     36.21600      0
1     65.54590      0
2     73.86600      0
3      3.45660      0
4      0.32924      0
...        ...    ...
1367   0.40614      1
1368  -1.38870      1
1369  -3.75030      1
1370  -3.56370      1
1371  -2.54190      1

[1372 rows x 2 columns]

In [32]:
correlation=data2.corr()

In [33]:
correlation

          Variance     Class
Variance  1.000000 -0.411397
Class    -0.411397  1.000000

In [36]:
from sklearn.metrics import confusion_matrix

In [46]:
from keras.activations import relu

Using TensorFlow backend.

ModuleNotFoundError: No module named 'tensorflow'

In [55]:
import keras as k

Using TensorFlow backend.

ModuleNotFoundError: No module named 'tensorflow'

In [50]:
print ('Back Propagation algorithm in Python')
import numpy as np 
# RELU activation function
def ReLU(x):
    return np.maximum(0,x)

def relu_backward(dA, Z):
    dZ = np.array(dA, copy = True)
    dZ[Z <= 0] = 0;
    return dZ;

Back Propagation algorithm in Python

In [51]:
training_inputs = np.array([[0,0,1],
                            [1,1,1],
                            [1,0,1],
                            [0,1,1]])
training_outputs = np.array([[0,1,1,0]]).T
np.random.seed(1)
synaptic_weights = 2*np.random.random((3,1))-1
print('Random Starting synaptic weights: ')
print(synaptic_weights)

Random Starting synaptic weights:
[[-0.16595599]
 [ 0.44064899]
 [-0.99977125]]

In [53]:
for iteration in range(100):
    input_layer = training_inputs
    outputs=ReLU(np.dot(input_layer,synaptic_weights))
    error=training_outputs-outputs
    adjustments=error*relu_backward(outputs)
    synaptic_weights=synaptic_weights + np.dot(input_layer.T,adjustments)

TypeError: relu_backward() missing 1 required positional argument: 'Z'

In [54]:
print('Synaptic_weights after training:')
print(synaptic_weights)

print('Outputs after training:')
print(outputs)

Synaptic_weights after training:
[[-0.16595599]
 [ 0.44064899]
 [-0.99977125]]
Outputs after training:
[[0.]
 [0.]
 [0.]
 [0.]]

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

# N is batch size(sample size); D_in is input dimension;
# H is hidden dimension; D_out is output dimension.
N, D_in, H, D_out = 4, 2, 30, 1

# Create random input and output data
x = np.array([[0, 0], [0, 1], [1, 0], [1, 1]])
y = np.array([[0], [1], [1], [0]])

# Randomly initialize weights
w1 = np.random.randn(D_in, H)
w2 = np.random.randn(H, D_out)

learning_rate = 0.002
loss_col = []
for t in range(200):
    # Forward pass: compute predicted y
    h = x.dot(w1)
    h_relu = np.maximum(h, 0)  # using ReLU as activate function
    y_pred = h_relu.dot(w2)

    # Compute and print loss
    loss = np.square(y_pred - y).sum() # loss function
    loss_col.append(loss)
    print(t, loss, y_pred)

    # Backprop to compute gradients of w1 and w2 with respect to loss
    grad_y_pred = 2.0 * (y_pred - y) # the last layer's error
    grad_w2 = h_relu.T.dot(grad_y_pred)
    grad_h_relu = grad_y_pred.dot(w2.T) # the second laye's error 
    grad_h = grad_h_relu.copy()
    grad_h[h < 0] = 0  # the derivate of ReLU
    grad_w1 = x.T.dot(grad_h)

    # Update weights
    w1 -= learning_rate * grad_w1
    w2 -= learning_rate * grad_w2

plt.plot(loss_col)
plt.show()